<% include ./partials/header   %>

<p>This is a server side rendered app. It is written in Express and EJS.  It uses MongoDB as the database.</p>
<p>It is published at Heroku.</p>


<% include ./partials/footer   %>
