body{
    background-image: url("../index.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

i.icon{
    font-size: 2em;
}

.container.main{
    margin-top: 7.0em;
}

#delete {
    display: inline;
}

.footer{
    background-color:black;
    color: white;
    padding: 10px;
    position: fixed;
    width: 100%;
    bottom: 0;
    text-align: center;
}

.image img, .item img{
    border: 1px solid black;
    padding: 5px;
}

.meta{
    padding: 5px;
}

.shadowed{
    box-shadow: 3px 3px 10px gray !important;
}

.content {
    margin-top: 5px !important;
}

.header{
    text-shadow: 1px 1px 3px gray;
}

.greenbutton {
    background-color: lightgreen !important;
    color: black !important;
    padding: 8px 15px;
    border-radius: 5px;
    width: 150px !important;
}

.greenbutton:hover{
    background-color: rgb(72, 228, 72) !important;
}

.redbutton {
    float: right;
    background-color: lightcoral !important;
    color: black !important;
    padding: 5px 15px;
    border-radius: 5px;
    margin-top: -6px;
}

.redbutton:hover{
    background-color: rgb(221, 65, 65) !important;   
}